.introduction-container {
    width: 60rem;
    height: 30rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    scroll-margin-top: 6.75rem;
}

.introduction-container > div {

    padding: 1.5em;

    h1 {
        display: inline-block;
        padding-right: 0.5rem;
        font-size: 2rem;
        font-family: CooperH-heavy;
        overflow: hidden;
        white-space: nowrap;
        border-right: 0.35rem solid;
        text-wrap: nowrap;
    }

    h1.animate {
        animation:
        h1Typing 2s steps(28),
        h1Cursor .6s step-end infinite alternate;
    }

    p {
        padding-right: 1.5em;
        font-size: 1rem;
        font-family: CooperH-Medium;
        font-weight: 900;
    }

    button {
        font-family: CooperH-Book;
        font-weight: 900;
    }

    button:hover {
        background-color: #ae388b;
    }

    button:hover div {
        animation: textShaking 2s ease-in-out infinite alternate;
    }
}

.me-img {
    width: 100%;
    img {
        /* display: none; */
        width: 80%;
    }
}

.me-img::before, .me-img::after {
    position: absolute;
    content: "";
    width: 20%;
    aspect-ratio: 1;
    border-color: #e983d8;
    border-width: 0.5rem;
}

.me-img::after {
    border-left: 0;
    border-top: 0;
    right: 0;
    bottom: 0;
}

.me-img::before {
    border-bottom: 0;
    border-right: 0;
    left: 0;
    top: 0;
}

@keyframes h1Cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes h1Typing {
    from { 
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes textShaking {
    0% {
        transform: translate(-7%, 8%);
    } 20% {
        transform: translate(6%, 8%);
    } 25% {
        transform: translate(6%, 0);
    } 40% {
        transform: translate(-10%, 0);
    } 50% {
        transform: translate(-10%, -5%);
    } 60% {
        transform: translate(10%, -5%);
    } 75% {
        transform: translate(10%, 8%);
    } 80% {
        transform: translate(-10%, 8%);
    }
}