.project-container {
    scroll-margin-top: 10rem;
    overflow-y: scroll;
    /* overflow-x: hidden; */

    h2 {
        font-family: CooperH-Heavy;
    }
    .thumbnail {
        margin-bottom: 2rem;
        h2 {
            font-size: 125%;
        }

        img {
            min-width: 100%;
        }
    }

    > .bg {
        columns: 300px;
        height: auto;
        column-gap: 1.25rem;
    }

    .thumbnail:hover img {
        border-color: var(--pink);
        border-width: 0.5rem;
        border-radius: 1rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

}

.slider {

    button:nth-child(1), button:nth-child(2) {
        top: 50%;
        transform: translate(0%, -50%);
        position: absolute;

        svg {
            width: 100%;
        }
    }

    button:nth-child(1):hover, button:nth-child(2):hover {
        svg {
            fill: var(--pink);
        }
    } 

    button:nth-child(1) {
        left: 10%;
    }
    button:nth-child(2) {
        right: 10%;
    }
}

.detail {

    h3 {
        font-family: CooperH-Bold;
        color: var(--light-grey-color);
        font-size: 0.9rem;
    }

    p {
        font-family: CooperH-Medium;
    }
}

.project-header {
    font-family: Genshin;
    font-weight: 500;
}

/* .card-modal {
    position: sticky;
} */