.contact-container {
    width: 30rem;
    height: 30rem;
    scroll-margin-top: 13.5rem;

    a.main-btn {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    a {
        position: absolute;
    }

    > div {
        position: absolute;
        transform-origin: left;
        left: 50%;
        top: 50%;

        a {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    a:hover svg {
        animation: textShaking 2s ease-in-out infinite alternate;
    }

    svg {
        width: 50%;
    }

    .facebook svg{
        rotate: 45deg;
    }

    .github svg{
        rotate: 135deg;
    }

    .gmail svg{
        rotate: 225deg;
    }

    .linkedIn svg{
        rotate: 315deg;
    }
}

.contact-header {
    font-family: HYPED;
    font-size: 7rem;
    line-height: 1;
    /* animation: ContactAnimation 10s infinite forwards; */

    div {
        display: inline-block;
    }
}

/* @keyframes ContactAnimation {
    0% {
        color: #e983d8;
    }
    35% {
        color: #fafafa;
    } 50% {
        color: #e983d8;
    } 57% {
        color: #fafafa;
    } 64% {
        color: #e983d8;
    } 92% {
        color: #fafafa;
    }
} */

/*text-[#e983d8]*/