@font-face {
    font-family: 'CooperH-Heavy'; /*a name to be used later*/
    src: url('./src/assets/font/CooperHewitt-Heavy.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'CooperH-Book'; /*a name to be used later*/
    src: url('./src/assets/font/CooperHewitt-Book.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'CooperH-Bold'; /*a name to be used later*/
    src: url('./src/assets/font/CooperHewitt-Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'CooperH-Medium'; /*a name to be used later*/
    src: url('./src/assets/font/CooperHewitt-Medium.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'HYPED'; /*a name to be used later*/
    src: url('./src/assets/font/HYPED_Font.otf'); /*URL to font*/
}