@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey-color:#0B0D0F;
  --hot-pink: #ae388b;
  --pink: #e983d8;

  --bg-color: var(--grey-color);
}

* {
  box-sizing: border-box;
}

.bg-color {
  background-color: var(--bg-color);
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}